/* ==================variables================================ */
:root{
    /* colors */
    --main-green: #28a745;
    --nav-text : white;
    --text: #ffffff;
    --gray : #333333;
    --gray-hell:#33333377;
    /* text */
    --font-family : 'Monda', sans-serif;
}




/* ==================general================================ */

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: var(--font-family);
}

*,*:focus,*:hover{
    outline:none;
}

*::selection{
    background-color:yellow;
}


/* ==================layout================================ */
#main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template-areas: 
    "nav nav nav nav"
    "main main aside activitybar"
    "main main aside activitybar"
    "main main aside activitybar"
    "footer footer footer footer"; */
    grid-template-columns: 350px auto 350px 60px;
    grid-template-rows: 60px auto 100px;
}



/* ==================navbar================================ */
#nav{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 60px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315); */
    padding: 0 20px;
    background-color:var(--gray);
}

#logo{
    background-color: var(--main-green);
    padding:10px;
    height: 60px;
}

#logo-text{
    color:var(--nav-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links{
    display: flex;
    font-weight: bold;
    width: 50%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color:var(--nav-text);
    display: inline-block;
    padding:20px;
    height: 60px;
}

#burger{
    display:none;
}


#close{
    cursor: pointer;
    display:none;
}


.active{
    background-color: var(--main-green);
}

/* ================================activitybar======================================== */

#activitybar{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: var(--gray);
    display:flex;
    flex-direction: column;
    align-items: center;

}

#activitybar-links li{
    list-style: none;
    margin-bottom: 30px;
}

#activitybar-links li{
    cursor: pointer;
}

/* ================================aside-left======================================== */
#aside-left{
    grid-column: 1/2;
    grid-row: 2/3;
}



/* ================================main======================================== */


#main{
    grid-column: 2/3;
    grid-row: 2/3;
    display : flex;
    flex-direction: column;
    padding:20px 70px
}

/* ================================post-input======================================== */


#post-input{
    height: 200px;
    margin:5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px var(--gray-hell);
}

#post-input-header{
    display: flex;
    height: 120px;
}

#profile-img{
    padding:5px;
}

#profile-img img{
    width: 70px;
}

#post-content{
    width: 85%;
    height: 100%;
    border:none;
    padding:20px;
    font-size: 20px;
    resize: none;
}

#post-content:focus{
    border:none;
}

#line{
    padding:9px 0;
}

#line > hr{
    border: 1px solid var(--main-green);
}


#post-input-bottom{
    display: flex;
    justify-content: space-between;
    height: 40px;
}


#actions{
    width: 40%;
    display: flex;
}

#actions > .action{
    padding:10px;
}

#actions > .action > img{
    cursor: pointer;

}

#action-submit{
    width: 100px;
}

#action-submit > button{
    width: 100%;
    height: 100%;
    background: var(--main-green);
    color:var(--text);
    font-weight: bold;
    border:none;    
    font-size:20px;
    border-radius: 40px;
    cursor: pointer;
}


/* ================================post-output======================================== */


.post-output{
    margin: 5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px var(--gray-hell);
}

.post-output-header{
    display:flex;
}

.profile-img{
    padding:5px;
}

.profile-img > img{
    width: 70px;
}


.post-output-bottom > .actions{
    display: flex;
    justify-content: space-around;
}

.post-output-bottom img{
    width:30px;
    cursor: pointer;
}


/* ================================aside-right======================================== */
#aside-right{
    grid-column: 3/4;
    grid-row: 2/3;
}

#aside-nav-links{
    display:flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background-color: var(--gray);
    display: none;
}

#aside-nav-links li{
    list-style: none;
    width: 100%;
}

#aside-nav-links a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--nav-text);
    font-weight: bold;
    padding: 20px 0;
    border-bottom: white solid 1px;
}

/* ================================footer=================================== === */
#footer{
    grid-column: 1/5;
    grid-row: 3/4;
}


/* ==================Responsiv : tablet================================ */
@media (max-width : 1000px) {
    
    #main-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: auto 350px 60px;
        grid-template-rows: 60px auto 100px;
    }

    .nav-links{
        width: 60%;
    }   
}


/* ==================================================================== */
/* ==================Responsiv : mobile================================ */
@media(max-width:750px){
    .nav-links{
      display:none;
    } 

    #burger{
        display:block;
        cursor: pointer;
    }

    #logo-text{
        font-size: 1rem;
    }
} 
