
:root {
    --main-green: #28a745;
  }
*{
    box-sizing: border-box;
}
body, html{
    top:  0;
    right: 0;
    left: 0;
    bottom: 0;
   
    
}
 .contianer{
    display: flex;
    width: 100%;
    margin: 0;
 }


 .register{
     display: flex;
     flex: 2;
     align-items: center;
     text-align: center;
     margin-top: 1.5rem;
     margin-right: 4rem;
     margin-left: 4rem;
     padding: 1rem 2rem;
     box-shadow: -5px -5px 15px var(--main-green);
     transform: skewX(6deg);
 }

 .div-form{
      flex: 1;
      box-shadow: -7px 7px 7px var(--main-green);
      padding-bottom: 1rem;
       height: 525px; 
      margin-right: 2rem;
 } 

.title{
    text-align: center;
    color:var(--main-green) ;
    font-family: cursive;
}
 h3{
    text-align: center;
    color: rgb(111, 111, 248);
 }
.social-text{
    text-align: center;
    opacity: 0.5;
}
.social-media{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    
}
.social-media a:hover{
    color: var(--main-green);
    border-color: var(--main-green);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.social-icon{
    height: 45px;
    width: 45px;
    border:1px solid black;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    font-size: 1.1rem;
    border-radius: 50%;
    color: black
}

.input-field{
    border: 1px solid var(--main-green);
    background: white; 
    height: 35px;
    width: 60%; 
    margin-bottom: 0.8rem;
    display: flex;
    flex: 4;
    border-radius: 30px;
    padding-left: 0.5rem;
}


.div-input-date{

    display: flex;
    justify-content: space-between;
    /* height: 35px; */
    width: 60%; 
    margin-bottom: 0.8rem;
    flex-flow: wrap;
}
.div-input-date label{
    font-size: 1rem;
    font-family: sans-serif;
}
.label-date{
    height: 100%;
}
.input-date{
    height: 35px;
}
.div-input-date input{
    height: 100%;
    border: 1px solid var(--main-green);
    font-size: 1.2rem;
    border-radius: 30px;
    outline: none;
}
.div-input-date input::-webkit-datetime-edit {
    padding: 0 1rem;
}



  .div-label-select{
     
      /* height: 35px; */
      width: 60%;
      margin-bottom: 0.8rem; 
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;

  }
  .div-label-select label{
    font-size: 1rem;
    font-family: sans-serif;
  }

  .div-label-select select{
     width: 12rem;
     border: 1px solid var(--main-green);
     font-size: 1.2rem;
     border-radius: 30px;
     outline: none;
     padding-left: 0.4rem;
     height: 35px;
  }
.input-field i{
    flex: 0.3;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-green)
    
}
.input-field input{
    flex: 4;
    background: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    padding-left: 0.2rem;
}
.input-field input::placeholder{
    color: black;
}
.div-photo{
    box-shadow: -7px 7px 7px var(--main-green);
    flex: 1;  
    height: 515px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    
}
.div-photo img{
    width: 75%;
    height: 100%;
}
.btn-submit{
    background:  var(--main-green);
    font-size: 1rem;
    height: 35px;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 1rem;
    width: 10rem;
    border-radius: 30px;
    color: white;
}
.footer {
   margin-top: 2rem;
}
.link-login{
    color: green;
    font-size: 1.3rem;
    
}
 

 /*    Responsve  800px */

 @media(max-width:1125px){

    .div-form{
  height: 100%;
    }
 }
@media(max-width:800px){
    .register{
        transform: skewX(0deg);
        box-shadow: 0 0 0 var(--main-green);
        margin: 0;
        
    }
    .div-form{
        box-shadow: 0 0 0 var(--main-green);
        height: auto;
        width: 100%;
        margin: 0;
    }
    .div-photo{
        display: none;
    }
    .input-field {
        width: 100%;
        padding-left: 0.5rem;
        height: 35px;
    }
    .input-field input{
        font-weight: normal;
        
    }
    .social-icon{
    height: 40px;
    width: 40px;
    font-size: 1rem;
    }
    .input-field input{
        padding-left: 0.2rem;
    }
    .input-field input::placeholder{
       color: rgb(143, 133, 133);
    }
   
    .div-input-date label{
        display: none;
    }
    .div-input-date{
        width: 100%;
        justify-content: stretch;
    }
    .div-input-date input {
        /* width: 8rem; */
      width: 100%;
    }
    .input-date{
        width: 100%;
    }
    .div-label-select{
        width: 100%;
    }
    .div-label-select label{
        display: none;
    }
   
    .div-label-select select{
        font-size: 0.9rem;
        width: 100%;
    }

}